.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: -100%;
  top: 50%;
  transform: translate(-100%, -50%);
  transition: 1s;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_open {
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__content-wrapper {
  position: relative;
  background-color: #fefefe;
  margin: 25% auto;
  padding: 12em;
  border: 1px solid #888;
  width: 40%;
  border-radius: 2em;
}

.modal__close {
  position: absolute;
  top: 4%;
  right: 8%;
  color: #aaa;
  font-size: 2.8em;
  font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: black;
  font-size: 1.6em;
}

.content img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
}

.content * {
  margin: 0.5em 0;
}

.hide-auth-btn {
  display: none;
  color: green;
}

@media (max-width: 700px) {
  .content {
    align-items: start;
  }
}
