@import "../../../../colors";

.audio-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 1em 2em 0 2em;

  gap: 1em;

  background-color: $bg-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.audio-game__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  gap: 2em;
}

.audio-game__title {
  text-align: center;
}

.audio-game__result {
  display: flex;
  justify-content: center;
}

.audio-word {
  width: 10em;
  height: 260px;

  background-image: url("../../../../assets/img/sound_PNG13.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  cursor: pointer;
}

.audio-game__answers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 1em;
}

.button_choice {
  font-weight: bold;
}

.button-game {
  padding: 0.2em 1em;
}

.button_true {
  color: $green-color;
  border-color: $green-color;
}

.button_true:disabled {
  color: $green-color;
  border-color: $green-color;
}

.button_false {
  color: $red-color;
  border-color: $red-color;
}

.button_false:disabled {
  color: $red-color;
  border-color: $red-color;
}

.audio-game__result-all {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-bottom: 2em;
  padding: 2em;

  gap: 1em;

  border: 2px solid $font-color;
  border-radius: 2em;
}

.answers {
  width: 100%;

  text-align: center;
}

.word-wrapper {
  word-wrap: break-word;
}

@import 'AudiogamePage.media';
