@import "../../../../colors";

.minigames {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 2em 2em 2em;

  gap: 1em;

  background-color: $bg-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.minigames__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2em;
}

.minigames__games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 2em;
}

.game {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  padding: 1em;

  gap: 1em;

  border: 2px solid $font-color;
  border-radius: 2em;
}

.game__title {
  font-size: 1.5em;
  text-align: center;
}

.game__checker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.5em;
}

.game__checker-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5em;
}

.game__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 1em;
  height: 1em;
  margin: 0;

  border: 2px solid $font-color;
  transition: 0.2s all linear;
  outline: none;
}

.game__input:checked {
  border: 6px solid $favorite-color;
}

.game__label {
  font-size: 1.2em;
}

.game__input:checked ~ .game__label {
  color: $favorite-color;
}

.start-container {
  display: flex;
  justify-content: center;
}
