/*media queries*/
@media (max-width: 1499.98px) {

}

/*1200-1499.98*/
@media (max-width: 1199.98px) {

}

/*768-991.98*/
@media (max-width: 991.98px) {
  .card__controls {
    flex-direction: column;
  }
}

/*576-767.98*/
@media (max-width: 767.98px) {
  .container-manage {
    flex-direction: column;
  }

  .card-container {
    flex-direction: column;
    padding: 2em;
  }

  .card__picture {
    width: auto;
  }

  .card__picture-image {
    border-radius: 2em;
  }
}

/*480-575.98*/
@media (max-width: 575.98px) {
  .textbook {
    padding: 0 1em;
  }

  .card__word-text {
    font-size: 1.5em;
  }
}

/*320-479.98*/
@media (max-width: 479.98px) {
  .textbook__games {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .card-container {
    padding: 1em;
  }

  .card__word-block {
    flex-wrap: wrap;
    gap: 0;
  }

  .card__word-text {
    padding-right: 0.5em;
  }
}
