@import "../../../../colors";

.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 140px);
  align-items: center;
  justify-content: center;

  gap: 1em;

  background-color: $bg-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loading {
  width: 36px;
  height: 36px;

  background-size: 36px 36px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("./../../../../assets/loading.svg");

  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
