@import "../../../../colors";

.sprint {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  gap: 1em;

  background-color: $bg-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sprint__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  // border: 3px solid red;
  padding: 30px;

}

.sprint__question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid rgb(0, 0, 255);
  padding: 30px;
  min-height: 20rem;
  background-color: $card-color;
}

.question {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  // gap: 10px;
  margin-bottom: 20px;
  font-size: 50px;
  color:black;
}

.dot {
  border: 3px solid black;
  border-radius: 10px;
  width: 1rem;
  height: 1rem;
}

.container.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.text-score-word {
  text-align: center;
  border-bottom: 3px solid rgb(0, 0, 255);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.sprint-buttons {
  display: flex;
  justify-content: space-around;
}

.timer-start {
  font-size: 2em;
}
