$bg-color: #19143b;
$font-color: #ffffff;
$reversed-font-color: complement($font-color);
$favorite-color: #fdd700;
$red-color: #fd0000;
$blue-color: #2299eb;
$green-color: #08aa05;
$disabled-color: gray;
$transparent-gray: rgba(0, 0, 0, 0.6);
$light-bg-color: lighten($bg-color, 10);
$card-color: rgb(206, 206, 206);
