@import "../../../../colors";

.footer {
  width: 100%;
  max-width: 1200px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
}

.developers-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.developers-list {
  display: flex;
  align-items: center;
}

.developers-list__link {
  padding: 1em;
}

@import 'Footer.media';
